body {
    background-color: #ede7f6;
    font-family: Roboto, Sans-serif;
    margin: 0;
    padding: 0;
	margin-top: 20px;
}

.form {
    height: auto;
    width: 90%; /* 預設寬度為 90%，適應小螢幕 */
    max-width: 1600px; /* 最大寬度限制 */
    margin: auto;
}

.required {
    font-size: 13px;
    color: red;
}

.title-div {
	height: auto;
    width: 100%; /* 使用百分比寬度 */
    background-color: #FDFEFE;
    margin: 15px auto;
    border-radius: 20px;
    border-top: 25px solid #6703c4;
    padding: 25px;
    box-sizing: border-box;
}

.name-div, .college-div, .gmail-div, .mobile-div {
    height: auto;
    width: 100%; /* 使用百分比寬度 */
    background-color: #FDFEFE;
    margin: 15px auto;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}

.name {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}

.input-div {
    padding-top: 20px;

}

.input-div input {
    width: 50%; /* 使用百分比寬度 */
    border: 0;
    outline: 0;
    border-bottom: 1.5px solid #DCD7D7;
    font-size: 15px;
    box-sizing: border-box;
}

.btn{
	height: 50px;
	width: 100%;
	max-width: 100px;
	background-color: white;
	border-radius: 5px;
	font-size: 20px;
	letter-spacing: .5px;
	font-weight: 450;
	border: none;
	padding: 10px;
	margin: 5px auto;
	color: #6703c4;
}

.btn:hover {
    background-color: #4a148c;
}

.last-div h2 {
    text-align: center;
    padding-top: 50px;
    color: #a2a4a6;
    font-weight: 200;
}

.term {
    font-size: 12px;
    padding-left: 15px;
    padding-top: 5px;
}

.never {
    padding-left: 0px;
    font-size: 25px;
    padding-top: 20px;
    font-weight: 250;
}

.hh{
	padding-top: 10px;
	padding-left: 10px;
	font-size: 55px;
}
.under{
	font-size: 70px;
	font-weight: 1000;
}
label{
    display: block;
    margin: 6px 0;
    font-size: 16px;
    cursor: pointer;
}
.pict{
    width: 100%;
    height: auto;
    margin: 0 auto; /* 使圖片居中 */
    border: 2px solid #000;
}

.btn2{
	height: 75px;
	width: 100%;
	max-width: 200px;
	background-color: white;
	border-radius: 5px;
	font-size: 30px;
	letter-spacing: .5px;
	font-weight: 450;
	border: none;
	padding: 10px;
	margin: 10px auto;
	color: #6703c4;
}

.btn2:hover {
    background-color: #4a148c;
}
.linl-style{
    text-decoration: none;
    color: #6703c4;
    font-size: 100px;
    font-weight: 200;
}
.linl-style:hover{
    color: #4a148c;
}
